.user-register{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.user-reg-cont{
    width: 600px;
    height: 730px;
    background-color:aliceblue;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.reg-txt{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}
.reg-form-cont{
    margin-left: 150px;
}
.textbox{
    width: 300px;
}
.email-textbox{
    width: 300px;
    margin-bottom: 20px;
}
.errors{
    margin-bottom: 20px;
    margin-top: -8px;
    font-size: 12px;
    color: #df3b3b;
}
.register-btn{
    width: 300px;
    margin-top: 50px;
    border: none;
    background-color: #FFA500;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #f2f2f2;
}
.existing-user{
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
}