.banner{
    margin-top: 10px;
}
.background-banner{
    background-image: url("../../public/images/banner_background.jpg");
    height: 500px;
    background-size: cover;
}
.banner-description{
    padding-top: 70px;
    padding-left: 250px;
}
.banner-heading{
    color: #7599b2;
    width: 300px;
}
.banner-heading h1{
    font-weight: 500;
}
.banner-product-price{
    font-size: 26px;
    font-weight: 600;
    margin-top: 80px;
}
.product-op{
    color: #7e8285;
    text-decoration: line-through;
    margin-right: 15px;
}
.product-np{
    color: #df3b3b;
}
.banner-product-name{
    font-weight: 600;
    margin-top: 10px;
}
.shop-now-text{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #FFA500;
    color: #f2f2f2;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
.banner-product{
    padding-top: 44px;
    padding-left: 250px;
}
.product{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.deals{
    width: 350px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.card-header{
    height: 50px;
}
.slide-heading{
    padding-top: 6px;
    font-size: 17px;
    font-weight: 700;
}
.arrow-btns{
    padding-left: 50px;
}
.card-image{
    padding-top: 8px;
    padding-bottom: 2px;
}
.pro-cat-txt{
    font-size: 13px;
    color: #7e8285;
    font-weight: 600;
}
.pro-cat-price{
    font-size: 14px; 
    color: #7e8285;
}
.pro-name{
    margin-top: -2px;
}
.pro-txt{
    font-size: 20px;
    font-weight: 600;
}
.pro-price{
    font-size: 20px;
    font-weight: 700;
    color: #df3b3b;
}
.product-avail{
    margin-top: 4px;
}
.pro-avail{
    font-size: 12px;
    color: #7e8285;
    font-weight: 400;
    padding-top: 6px;
}
.pro-avail span{
    font-size: 13px;
    font-weight: 600;
    color: #7e8285;
}
.pro-sold{
    font-size: 12px;
    color: #7e8285;
    font-weight: 400;
    padding-top: 6px;
}
.pro-sold span{
    font-size: 13px;
    font-weight: 600;
    color: #7e8285;
}
.timer-txt{
    font-size: 14px;
    color: black;
    font-weight: 700;
}
.timer-sub-txt{
    font-size: 12px;
    font-weight: 500;
    color: #7e8285;
    margin-top: -8px;
}
.count-down{
    margin-left: 50px;
    border: 1px solid #7e8285;
    height: 40px;
    text-align: center;
    border-radius: 4px;
}
.hrs{
    font-size: 26px;
    border-right: 1px solid #7e8285;
    padding-left: 12px;
    padding-right: 8px;
    font-weight: bold;
}
.min{
    font-size: 26px;
    border-right: 1px solid #7e8285;
    padding-left: 12px;
    padding-right: 10px;
    font-weight: bold;
}
.sec{
    font-size: 26px;
    padding-left: 12px;
    padding-right: 10px;
    font-weight: bold;
}
.product-details{
    margin-left: 50px;
    padding-top: 40px;
}
.product-details-content{
    width: 700px;
}
.product-details-nav{
    border-bottom: 1px solid #7e8285;
}
.nav-item{
    cursor: pointer;
}
.nav-text{
    font-size: 20px;
    color: #7e8285;
    font-weight: 600;
}
.nav-text:active{
    color: #FFA500;
}
.tab-content{
    width: 700px;
    padding-top: 20px;
}
.tab-pane{
    flex-wrap: wrap;
    padding-left: 20px;
}
.featured-pro{
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.featured-img{
    padding-left: 20px;
    padding-top: 10px;
}
.featured-img-title{
    text-align: center;
    margin-top: -10px;
}
.fea-img-price{
    font-size: 16px;
    font-weight: 700;
    color: #df3b3b;
}
.featured-img-name{
    font-weight: 600;
    cursor: pointer;
    color: unset;
    text-decoration: none;
}
.featured-img-name:hover{
    text-decoration: underline;
}
.laptop-carousel{
    background-image: url("../../public/images/banner_2_background.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.laptop-car-cont{
    padding-left: 100px;
}
.laptop-car-slider{
    margin-top: 90px;
    margin-left: 150px;
}
.laptop-car-cat{
    font-size: 14px;
    font-weight: 600;
    color: #7e8285;
}
.laptop-car-title{
    padding-top: 20px;
    font-size: 26px;
    font-weight: bold;
}
.laptop-car-det{
    padding-top: 10px;
    font-weight: 400;
    color: #7e8285;
    width: 400px;
}
.laptop-exp{
    margin-top: 70px;
    font-size: 18px;
    color: #f2f2f2;
    background-color: #FFA500;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.laptop-car-img{
    margin-left: 100px;
}
.carousel-indicators~button{
    margin-left: -100px;
    background-color: black;
}
.new-arrivals{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 240px;
    margin-bottom: 50px;
}
.new-arrival-cont{
    margin-left: 100px;
}
.new-arrival-txt{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #7e8285;
    padding-bottom: 10px;
}
.new-pro{
    width: 150px;
    margin-top: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.new-arrival-pro-list{
    width: 800px;
}
.new-pro-img{
    padding-left: 20px;
    padding-top: 30px;
}
.new-pro-detail{
    text-align: center;
}
.mobile-pro{
    margin-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    height: 370px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.mob-detail{
    margin-top: 30px;
}
.mob-cat{
    font-size: 14px;
    font-weight: 600;
    color: #7e8285;
}
.mob-name{
    font-weight: 500;
}
.mob-price{
    font-size: 16px;
    font-weight: 800;
}
.mob-btn{
    margin-top: 30px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    color: #f2f2f2;
    background-color: #FFA500;
    border-radius: 5px;
    font-size: 18px;
}
.link{
    color: #FFA500;
}